<!DOCTYPE html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
  	<b> The root path is working! </b>
  	<div>
			<em> Would you like to find a new movie? </em>
				<form action="/search" method="GET">
					<input type="text" name="movieTitle">
					<button>Submit</button>
				</form>
		</div>
  </body>
</html>
